.menu-icon {
  font-size: 13px;
  width: 15px;
}
.menu-spacer {
  flex: 1 1 auto;
}
a.link{
  color: white;
  font-size: 13px;
  margin: 0 10px;
  cursor: pointer;
}
a.link.is-active {
  color: chartreuse;
}
.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
@media screen and (max-width: 600px) {
  a.link.is-active {
    display: none;
  }
}
