mat-progress-spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 70px);
  transform: translateY(-50%);
  display: block;
}
div#mypageloader {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 123, 255, 0.30980392156862746);
}
